




* { /*reset browser default values*/
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a[href]{ /*CSS3 attribute selector*/
    text-decoration: none;
}
#big_wrapper {
    overflow: hidden; /*stops scroll bar from displaying when name tag is hovered*/
}
li {
    line-height: 2em;
    margin: 0 0 0 40px;
    list-style-type: square;
    font-family: 'Coming Soon', cursive;
    font-size: 23px;
}
hr {
    border-top: 5px solid black;
    border-radius: 5px;/*CSS3 property to round edges of elements*/
    width: 90%;
    max-width: 800px;
}
mark {
    font-family: 'Coming Soon', cursive;
    font-size: 23px;
}
h2 {
    font-size: 15vh;
    font-weight: bold;
    text-align: center;
    background-color: white;
    text-shadow: 3px 3px rgba(0,0,0,.8);/*CSS3 shadowing instead of duplicate image behind text*/
}
h3 {
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    background-color: white;
}
b {
    font-weight: bold;
    font-family: inherit;
}

/*nav bar start*/
.navbar {
    overflow: hidden;
    background-color: hsl(187, 39%, 74%);/*CSS3 hue, saturation, lightness color value*/
}
.navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 15px 10px 5px 10px;
    text-decoration: none;
}
.dropdown, .login-dropdown{
    float: right;
}
.dropdown .dropbtn, .login-dropdown .login-dropbtn {
    border: none;
    padding: 15px 5px 5px 5px;
    background-color: inherit;
    font-size: inherit;
}
.navbar a:hover, .dropdown:hover .dropbtn, .login-navbar a:hover, .login-dropdown:hover .login-dropbtn {
    background-color: hsla(360, 71%, 46%, 1);/*dont really need hsla because opacity is set to 1*/
    color: white;
}
.dropdown-content, .login-dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    overflow: hidden;
}
.dropdown-content a, .login-dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: white;
    border: 1px dashed hsla(360, 71%, 46%, 1);
}
.dropdown-content a:hover, .login-dropdown-content a:hover {
    background-color: hsla(360, 71%, 46%, 1);
    color: white;
    border: 1px dashed white;
}
.dropdown:hover .dropdown-content, .login-dropdown:hover .login-dropdown-content {
    display: block;
}
.login-dropdown-content {
    right: 0px;
}
#home-text {
    float: left;
}

/*back to top button*/
.back-to-top {
    position:fixed;
    bottom: 5px;
    right: 5px;
    visibility: hidden;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
}
.back-to-top a {
    text-decoration: none;
    color: black;
}
.back-to-top:hover, .back-to-top a:hover {
    color:white;
    background-color: hsla(360, 71%, 46%, 1);
}

/*footer start*/
.bottom-footer {
    text-align: center;
    background-image: url("images/carrot.png");
    background-repeat: repeat;
}
.bottom-footer p {
    display: inline-block;
    background-color: white;
    padding: 0 2px;
}


/*------------------
first section start - this should be a separate style sheet, but wanted to keep everything together
--------------------*/
section[class="first-section"] { /*CSS3 attribute selector*/
    height: calc(100vh - 39px);/*allows for height of nav bar*/
    background-color: hsl(187, 39%, 74%);
}
.container {
    height: 100%;
    background-image: url("images/circle.png");
    background-repeat: repeat;
    text-align: center;
    vertical-align: middle;
}
#combined-tags {
    display:inline-block;
    position:relative;
    height: 210px;
    width:100%;
    top:35%;
    transition-duration: 1.5s;
}
#name-tag, #name-tag2 {
    display: block;/*switches inline to block so auto margin will work*/
    position: relative;/*allows animation to work*/
    margin: 0 auto;
    width: 90vh;
    max-width: 400px;
}
#name-tag {
    animation: slideImg 2s;
}
#name-tag2 {
    animation: slideImg2 3s;
}
@keyframes slideImg {
    from {right:100%;}
    to {right:0px;}
}
@keyframes slideImg2 {
    from {left: 200%;}
    to {left:0px;}
}


/*------------------
second section start
-------------------*/
.second-section {
    height: 110vh;
    background-image: url("images/carrot.png");
    background-repeat: repeat;
}
.content-holder {
    margin: 0 auto;
    position: relative;
    top: 10vh;
    width: 80vw;
    height: 85vh;
    background-color: white;
    box-shadow: 15px 10px rgba(0,0,0,.4);/*CSS3 drop shadow & opacity level*/
    overflow: hidden;
}
.red-line {
    content: '';
    position: absolute;/*prevent red line from horizontal movement*/
    left: 35px;
    width: 2px;
    height: 100%;
    background-color: hsla(360, 71%, 46%, 1); 
}
.blue-lines {
    height: 100%;
    background-image: repeating-linear-gradient(white 0px, white 24px, hsl(187, 39%, 74%) 26px);/*CSS3 linear-gradient*/
}
h2[class*="blue"]{/*CSS3 string wildcard expression*/
    background-color: white;
    white-space: nowrap;
    color: hsl(187, 39%, 74%);
}
#logo-container {
    display: grid;/*CSS3 grid display*/
    grid-template-columns: auto auto auto;
    opacity: 0;/*transparent until JavaScript function runs*/
    transition-duration: 5s;
}
img[class~="logo"] {/*CSS3 attribute selector containing "logo" value*/
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    position: relative;
    top: 75px;
    transition: all 2s ease;
}
img[class*="rotateImg"]:hover { 
    transform: rotateY(360deg);/*transform using only CSS3*/
}

/*-----------------
third section start
------------------*/
.third-section {
    height: 110vh;
    background-image: url("images/circle.png");
    background-repeat: repeat;
}
.study {
    color: hsla(360, 71%, 46%, 1);
    padding-bottom: 15px;
}
li:nth-child(1){ /*CSS3 Psuedo selector*/
    font-weight: bold;
}
 

/*------------------
fourth section start
-------------------*/
#fourth-section {
    height: 100vh;
    background-image: url("images/rocket5.png"), url("images/carrot.png");/*CSS3 multiple background images*/
    background-position-y: 100%;
    background-repeat: no-repeat, repeat;
    text-align: center; 
}
#rocket {
    position: relative;
    bottom: 200px;
    height: 500px;
    width: 150px;
    cursor: pointer;
}
#skin {
    width: 700px;
    margin: 30px auto;
    padding: 15px 5px;
    background: hsl(187, 39%, 74%);
    border: 2px solid black;
    border-radius: 10px;
}
#movieNav {
    margin: 5px 0px;
}
#buttons {
    float:left;
    width:70px;
    height:22px;
}
#playButton {
    padding: 1px;
    border: 1px solid black;
}
#playButton:hover {
    background-color: hsla(360, 71%, 46%, 1);
    cursor: pointer;
    color:white;
}
#defaultBar {
    position: relative;
    float: left;
    width: 600px;
    height: 24px;
    padding: 4px;
    border: 2px solid black;
    background: white;
}
#progressBar {
    position: absolute;
    width:0px;
    height: 12px;
    background:hsla(360, 71%, 46%, 1);
}
#rocket img {
    position: relative;
    width: 150%;
    top:25%;
}