


/*reset browser default values*/
* {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
a[href]{ /*CSS3 attribute selector*/
    text-decoration: none;
}
li {
    line-height: 2em;
    margin: 0 0 0 40px;
    list-style-type: square;
    font-family: 'Coming Soon', cursive;
    font-size: 23px;
}
hr {
    border-top: 5px solid black;
    border-radius: 5px;
    width: 90%;
    max-width: 800px;
}
mark {
    font-family: 'Coming Soon', cursive;
    font-size: 23px;
}
h2 {
    font-size: 15vh;
    font-weight: bold;
    text-align: center;
    background-color: white;
    text-shadow: 3px 3px rgba(0,0,0,.8);
}
h3 {
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    background-color: white;
}
b {
    font-weight: bold;
    font-family: inherit;
}


/*nav bar start*/
.navbar {
    overflow: hidden;
    background-color: rgb(165,215,220);
}
.navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 15px 10px 5px 10px;
    text-decoration: none;
}
.dropdown, .login-dropdown{
    float: right;
    overflow: none;
}
.dropdown .dropbtn, .login-dropdown .login-dropbtn {
    border: none;
    padding: 15px 5px 5px 5px;
    background-color: inherit;
    font-size: inherit;
}
.navbar a:hover, .dropdown:hover .dropbtn, .login-navbar a:hover, .login-dropdown:hover .login-dropbtn {
    background-color: #DE1D35;
    color: white;
}
.dropdown-content, .login-dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    overflow: hidden;
}
.dropdown-content a, .login-dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: white;
    border: 1px dashed #DE1D35;
}
.dropdown-content a:hover, .login-dropdown-content a:hover {
    background-color: #DE1D35;
    color: white;
    border: 1px dashed white;
}
.dropdown:hover .dropdown-content, .login-dropdown:hover .login-dropdown-content {
    display: block;
}
.login-dropdown-content {
    right: 0px;
}
#home-text {
    float: left;
}

/*back to top button in bottom right of page*/
.back-to-top {
    float:right;
    position:sticky;
    bottom: 5px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
}
.back-to-top a {
    text-decoration: none;
    color: black;
}

.bottom-footer {
    text-align: center;
    background-image: url("images/carrot.png");
    background-repeat: repeat;
}
.bottom-footer p {
    display: inline-block;
    background-color: white;
    padding: 0 2px;
}