


/*Browser CSS reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, audio, video, strong {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;}


/*generic list formatting since I have browser reset*/
li {
    line-height: 2em;
    margin: 0 0 0 40px;
    list-style-type: square;
    font-family: 'Coming Soon', cursive;
    font-size: 23px;
}
hr {
    border-top: 5px solid black;
    border-radius: 5px;
    width: 90%;
    max-width: 800px;
}
mark {
    font-family: 'Coming Soon', cursive;
    font-size: 23px;
}
h2 {/*wont scale well with site*/
    font-size: 15vh;
    font-weight: bold;
    text-align: center;
    background-color: white;
    text-shadow: 3px 3px rgba(0,0,0,.8);
}
h3 {
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    background-color: white;
}
b {
    font-weight: bold;
    font-family: inherit;/*need to learn why font goes back to default*/
}
a:link, a:visited, a:active{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}


/*following selector doesn't work in the external sheet, but works with the internal sheet....need to research cause
body {
    background-color: rgb(165,215,220);
}
*/




/*nav bar start*/
.navbar {
    width: 95vw;
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(165,215,220);
}
.navbar a {
    float: right;
    color: black;
    text-align: center;
    padding: 15px 10px 5px 10px;
    text-decoration: none;
    font-weight: bold;
}
.dropdown, .login-dropdown{
    float: right;
    overflow: none;
    font-weight: bold;
}
.dropdown .dropbtn, .login-dropdown .login-dropbtn {
    border: none;
    padding: 15px 5px 5px 5px;
    background-color: inherit;
    font-size: inherit;
}
.navbar a:hover, .dropdown:hover .dropbtn, .login-navbar a:hover, .login-dropdown:hover .login-dropbtn {
    background-color: #DE1D35;
    color: white;
}
.dropdown-content, .login-dropdown-content {
    display: none;
    position: absolute;
    min-width: 100px;
    z-index: 1;
    overflow: hidden;
}
.dropdown-content a, .login-dropdown-content a {
    float: none;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    background-color: white;
    border: 1px dashed #DE1D35;
}
.dropdown-content a:hover, .login-dropdown-content a:hover {
    background-color: #DE1D35;
    color: white;
    border: 1px dashed white;
}
.dropdown:hover .dropdown-content, .login-dropdown:hover .login-dropdown-content {
    display: block;
}
.login-dropdown-content {
    right: 0px;
}
#home-text {
    float: left;
}

/*back to top button in bottom right of page*/
.back-to-top {
    float:right;
    position:sticky;
    bottom: 5px;
    background-color: white;
    padding: 5px;
    cursor: pointer;
    border: 1px solid black;
}
.back-to-top a {
    text-decoration: none;
    color: black;
}
